body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(113, 133, 114);
  border-radius: 12px;
  height: 20px;
}
